<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="assets/js/external/phaser.min.js"></script>
    <script type="text/javascript" src="assets/js/scene1.js"></script>
    <script type="text/javascript" src="assets/js/scene2.js"></script>
    <script type="text/javascript" src="assets/js/scene3.js"></script>
    <script type="text/javascript" src="assets/js/beam.js"></script>
    <script type="text/javascript" src="assets/js/explosion.js"></script>
    <script type="text/javascript" src="assets/js/game.js"></script>
    <title>My Game with PhaserJs</title>
    <style>
        #GameCanvas {}
    </style>
</head>

<body>
    <h1>Welcome to my game</h1>
    <p>This is my game page.</p>
    <div id="GameCanvas"></div>
    {{{ body }}}
</body>

</html>